

.LeftBar {
  display: flex;
  flex-basis: 250px;
  flex-direction: column;
  height: 100vh;
  background-color: #233d58;
}

.LeftBar .logoArea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 15px;
    flex-shrink: 0;
}

.LeftBar .logoArea img {
    max-width: 100%;
    max-height: 100%;
}

.LeftBar .logoPlaceholder {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
